tgcrypto
asyncio
ffmpeg-python
py-tgcalls==0.8.1
git+https://github.com/Makoto-XD/Pyrogram@session
youtube-search-python
yt-dlp==2021.11.10.1
youtube-dl
youtube-search
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
heroku3
motor
psutil
future
wget
